div{
    background-color:rgb(68,145,221)
   /*rgb(55,187,237);
   */ 
}
#baner1{
background-repeat: no-repeat;
/*Centramos el fondo al centro*/
background-position: center;
/*Y le decimos que siempre ocupe el ancho y el alto con esto*/
background-size: cover;
}


