<body>
    <details>
        <summary>
            <h2>Proyectos realizados</h2>
        </summary>
        <div>
            <ul class="accordion">
                <li>
                    <input type="radio" name="accordion" id="primero_1" checked>
                    <label for="primero_1">Encriptador</label>
                    <div class="content">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti cumque illo laboriosam
                            quo, totam
                            odio possimus aliquid voluptatibus. Culpa dignissimos exercitationem ab dolorum modi tenetur
                            sequi
                            id nisi odio. Pariatur.
                        </p>
                        <div class="col-sm-12 col-md-3 col-lg-5 ofset-md-1 offset-lg-1 parte2">
                            <img id="img-proyecto" src="../../../assets/projectos.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </li>
                <li>
                    <input type="radio" name="accordion" id="segundo_2" checked>
                    <label for="segundo_2">Desencriptador</label>
                    <div class="content">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti cumque illo laboriosam
                            quo, totam
                            odio possimus aliquid voluptatibus. Culpa dignissimos exercitationem ab dolorum modi tenetur
                            sequi
                            id nisi odio. Pariatur.
                        </p>
                        <div class="col-sm-12 col-md-3 col-lg-5 ofset-md-1 offset-lg-1 parte2">
                            <img id="img-proyecto" src="../../../assets/grupal.png" class="img-fluid" alt="">

                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </details>
</body>