div{
    background-color:rgb(3,197,255);
}
#baner1{
    
background-repeat: no-repeat;
/*Centramos el fondo al centro*/
background-position: center;
/*Y le decimos que siempre ocupe el ancho y el alto con esto*/
background-size: cover;
}

