<div class="row">
    
    <details>
         <summary>
            <h1>Experiencia Laboral</h1> 
             <div class="col-lg-1"></div> 
         </summary>
         <div class="col-lg-9">
            <ul><li>
                <h1>Trabajo 1</h1>-<h3>(Años)</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit vero ipsa porro quis dolores odit quaerat nesciunt omnis commodi asperiores non id, unde veniam et est delectus, sunt neque officia.</p></li></ul>
           
                <ul><li>
                   <h1>Trabajo 2</h1>-<h3>(Años)</h3>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit vero ipsa porro quis dolores odit quaerat nesciunt omnis commodi asperiores non id, unde veniam et est delectus, sunt neque officia.</p></li></ul>
       
                   <ul><li>
                       <h1>Trabajo 3</h1>-<h3>(Años)</h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit vero ipsa porro quis dolores odit quaerat nesciunt omnis commodi asperiores non id, unde veniam et est delectus, sunt neque officia.</p></li></ul>
              
         </div>
    </details>
</div>
