.row {
    padding: 20px;
  
}

div {
    background-color: rgb(218, 249, 250);

}

h1,
h3 {
    display: inline;
}
@media(min-width:575px) {
    details {
        padding-left: 30vh;
        width: 124vh;
    }
}
  

