<body>
    <details>
        <summary>
            <h2>Estudios</h2>
        </summary>
        <div>
            <ul class="accordion">
                <li>
                    <input type="radio" name="accordion" id="primero" checked>
                    <label for="primero">Estudios1</label>
                    <div class="content">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti cumque illo laboriosam
                            quo, totam
                            odio possimus aliquid voluptatibus. Culpa dignissimos exercitationem ab dolorum modi tenetur
                            sequi
                            id nisi odio. Pariatur.
                        </p>
                    </div>
                </li>
                <li>
                    <input type="radio" name="accordion" id="segundo">
                    <label for="segundo">Estudios (años)</label>
                    <div class="content">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti cumque illo laboriosam
                            quo, totam
                            odio possimus aliquid voluptatibus. Culpa dignissimos exercitationem ab dolorum modi tenetur
                            sequi
                            id nisi odio. Pariatur.
                        </p>
                    </div>
                </li>
                <li>
                    <input type="radio" name="accordion" id="tercero">
                    <label for="tercero">Estudios 3(años)</label>
                    <div class="content">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti cumque illo laboriosam
                            quo, totam
                            odio possimus aliquid voluptatibus. Culpa dignissimos exercitationem ab dolorum modi tenetur
                            sequi
                            id nisi odio. Pariatur.
                        </p>
                    </div>
                </li>

                <li>
                    <input type="radio" name="accordion" id="cuarto">
                    <label for="cuarto">Estudios4 (años)</label>
                    <div class="content">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti cumque illo laboriosam
                            quo, totam
                            odio possimus aliquid voluptatibus. Culpa dignissimos exercitationem ab dolorum modi tenetur
                            sequi
                            id nisi odio. Pariatur.
                        </p>
                    </div>
                </li>

            </ul>

        </div>
    </details>
</body>