<body>
    <details>
        <summary>
            <h2>Experiencia</h2>
        </summary>
        <div>
            <ul class="accordion">
                <li>
                    <input type="radio" name="accordion" id="primero1" checked>
                    <label for="primero1">Trabajo_1(años)</label>
                    <div class="content">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti cumque illo laboriosam
                            quo, totam
                            odio possimus aliquid voluptatibus. Culpa dignissimos exercitationem ab dolorum modi tenetur
                            sequi
                            id nisi odio. Pariatur.
                        </p>
                    </div>
                </li>
                <li>
                    <input type="radio" name="accordion" id="segundo2">
                    <label for="segundo2">Trabajo_2(años)</label>
                    <div class="content">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti cumque illo laboriosam
                            quo, totam
                            odio possimus aliquid voluptatibus. Culpa dignissimos exercitationem ab dolorum modi tenetur
                            sequi
                            id nisi odio. Pariatur.
                        </p>
                    </div>
                </li>
                <li>
                    <input type="radio" name="accordion" id="tercero3">
                    <label for="tercero3">Trabajo_3(años)</label>
                    <div class="content">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti cumque illo laboriosam
                            quo, totam
                            odio possimus aliquid voluptatibus. Culpa dignissimos exercitationem ab dolorum modi tenetur
                            sequi
                            id nisi odio. Pariatur.
                        </p>
                    </div>
                </li>

                <li>
                    <input type="radio" name="accordion" id="cuarto4">
                    <label for="cuarto4">Trabajo_4(años)</label>
                    <div class="content">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti cumque illo laboriosam
                            quo, totam
                            odio possimus aliquid voluptatibus. Culpa dignissimos exercitationem ab dolorum modi tenetur
                            sequi
                            id nisi odio. Pariatur.
                        </p>
                    </div>
                </li>

            </ul>

        </div>
    </details>
</body>