    <body id="base">
        <div class="skils" >
    <h1>Hard & Soft Skils</h1>

    <li>
        <h3>Html</h3>
        <span class="bar"><span class="html"></span></span>
    </li>
    <li>
        <h3>Css</h3>
        <span class="bar"><span class="css"></span></span>
    </li>
    <li>
        <h3>Javascript</h3>
        <span class="bar"><span class="javascript"></span></span>
    </li>
    <li>
        <h3>Ingles</h3>
        <span class="bar"><span class="ingles"></span></span>
    </li>

    <li>
        <h3>Ingles</h3>
        <span class="bar"><span class="ingleso"></span></span>
    </li>
</div>    
    </body>


