<div class="row">
    <h1 id="hys">Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress 
        [percent]="85" 
        [radius]="100" 
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageWidth]="125"
        [imageHeight]="125"
        [showUnits]="false"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#E54C21'" 
        [innerStrokeColor]="'rgb(239,82,56)'" 
        [animation]="true"
        [animationDuration]="1900">
       
         </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress 
        [percent]="85" 
        [radius]="100" 
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageWidth]="125"
        [imageHeight]="125"
        [showUnits]="false"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#E54C21'" 
        [innerStrokeColor]="'rgb(239,82,56)'" 
        [animation]="true"
        [animationDuration]="1900">
       
         </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress 
        [percent]="85" 
        [radius]="100" 
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageWidth]="125"
        [imageHeight]="125"
        [showUnits]="false"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#E54C21'" 
        [innerStrokeColor]="'rgb(239,82,56)'" 
        [animation]="true"
        [animationDuration]="1900">
       
         </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress 
        [percent]="85" 
        [radius]="100" 
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageWidth]="125"
        [imageHeight]="125"
        [showUnits]="false"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#E54C21'" 
        [innerStrokeColor]="'rgb(239,82,56)'" 
        [animation]="true"
        [animationDuration]="1900">
       
         </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress 
        [percent]="85" 
        [radius]="100" 
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageWidth]="125"
        [imageHeight]="125"
        [showUnits]="false"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#E54C21'" 
        [innerStrokeColor]="'rgb(239,82,56)'" 
        [animation]="true"
        [animationDuration]="1900">
       
         </circle-progress>
    </div>

</div>