<div class="">
    <h1 id="hys">Hard & Soft skills</h1>
    <div id="i1" class="text-center col-sm-2 col-md-2 offset-lg-1 col-lg-2">
       
        <circle-progress 
        [percent]="85" 
        [radius]="38" 
        [imageSrc]="'../assets/html.png'" 
        [showImage]="true"
        [imageWidth]="55" 
        [imageHeight]="55" 
        [showUnits]="false" 
        [outerStrokeWidth]="14" 
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#E54C21'" 
        [innerStrokeColor]="'rgb(239,82,56)'" 
        [animation]="true"
         [animationDuration]="1900">

        </circle-progress>
    </div>
    <div  id="i2" class="text-center col-sm-2 col-md-2 offset-lg-1 col-lg-2">
        <circle-progress [percent]="85" [radius]="38" [imageSrc]="'../assets/CSS.png'" [showImage]="true"
            [imageWidth]="55" [imageHeight]="55" [showUnits]="false" [outerStrokeWidth]="13" [innerStrokeWidth]="2"
            [outerStrokeColor]="'#E54C21'" [innerStrokeColor]="'rgb(239,82,56)'" [animation]="true"
            [animationDuration]="1900">

        </circle-progress>
    </div>

    <div  id="i3" class="text-center col-sm-2 col-md-2 offset-lg-1 col-lg-2">
        <circle-progress [percent]="85" [radius]="38" [imageSrc]="'../assets/js.png'" [showImage]="true"
            [imageWidth]="55" [imageHeight]="55" [showUnits]="false" [outerStrokeWidth]="12" [innerStrokeWidth]="2"
            [outerStrokeColor]="'#E54C21'" [innerStrokeColor]="'rgb(239,82,56)'" [animation]="true"
            [animationDuration]="1900">

        </circle-progress>
    </div>
    <div class="text-center col-sm-2 col-md-2 offset-lg-1 col-lg-2">
        <circle-progress [percent]="85" [radius]="50" [imageSrc]="'../assets/html.png'" [showImage]="true"
            [imageWidth]="55" [imageHeight]="55" [showUnits]="false" [outerStrokeWidth]="16" [innerStrokeWidth]="2"
            [outerStrokeColor]="'#E54C21'" [innerStrokeColor]="'rgb(239,82,56)'" [animation]="true"
            [animationDuration]="1900">

        </circle-progress>
    </div>
</div>