 <div class="row">
<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">
    <img src="../../../assets/perfil.jpg" class="img-responsive" id="perfil">
</div>
 <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1 ">
    <p id="nombre" style="color: rgb(6, 6, 7);">Naim Alanis</p>
    <p id="titulo" style="color: bisque;">Full Stack Developer Jr</p>
 </div>
 <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1 class="acerca_de_mi">Acerca de mi</h1>
        <p class="acerca_de_mi">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos maiores laborum aut ipsam corrupti, velit enim quisquam laboriosam tenetur consequuntur quod at fugiat earum natus ipsum beatae repellendus sequi magni!</p>
    </span>
 </div>
</div>
