.row{
    padding: 20px;
}
div{
    background-color:rgb(227,252,253);
    text-align: left;
}
/*
@media(min-width:576px){
    #perfil{
        position: absolute;
        width: 170px;
        border-radius:0;
        box-shadow: 3px 3px 3px grey;
        left: 1.5%;

    }
}*/
@media(min-width:576px){
    #perfil{
        position: absolute;
        width: 170px;
        border-radius: 15%;
        box-shadow: 3px 3px 10px rgb(252, 244, 207);
        left: 3.5ch;
        top: 18ch;
    }
    #nombre{
        color: aliceblue;
        text-shadow: 0px 3px 5px rgb(157,159,226);
        position: absolute;
        font-weight: bold;
        left: 24ch;
        top: 18ch;
    }
    #titulo{
        text-shadow: 0px 3px 5px rgb(157,159,226);
        position: absolute;
        font-weight:bolder;
        left: 24ch;
        top: 20ch;
    }
    .acerca_de_mi{
        width: 60vh;
        
          
    }
}
    @media(max-width:575px){
        #perfil{
            position: absolute;
            width: 195px;
            border-radius:25%;
            box-shadow: 3px 3px 3px grey;
            top: 245px;
            left: 36%;
        }
        #nombre{
            text-shadow: 0px 3px 5px rgb(88, 141, 255);
           -webkit-text-fill-color: rgb(0, 0, 0);
        }
        #titulo{
            text-shadow: 0px 3px 5px rgb(157,159,226);
            -webkit-text-fill-color: coral;
        }

}
